@font-face {
    font-family: "sf-pro";
    src: url("fonts/SFProText-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "sf-pro";
    src: url("fonts/SFProDisplay-Semibold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "sf-pro";
    src: url("fonts/SFProDisplay-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
