.b-header {
  position: fixed;
  width: 100%;

  &__nav {
    background-color: var(--color-transparent-black);
    height: 43px;
    padding: 0 25px 0 25px;
    backdrop-filter: saturate(180%) blur(20px);
  }

  &__content {
    width: 100%;
    max-width: 1040px;
  }

  &__menu {
    color: rgb(223, 223, 223);
    text-decoration: none;
    font-size: 14px;
  }

  &__menu:hover {
    color: rgb(255, 255, 255);
  }
}
